<h2 class="text-center">Profil agencije {{selectedAgency.agencyName}}</h2>

<br/> <br/>

<img [src]="getImageUrl()"> <br /><br />

<!-- Klasa je nad labelom a ne divom jer ne zelim da se primeni i na stavke koje citam od te agencije -->
<div>
    <label class="fullAgencyDetailsAndRequest">Naziv agencije: </label>  <label style="font-size: 18px;">{{selectedAgency.agencyName}}</label> <br/>
    <label class="fullAgencyDetailsAndRequest">Adresa: </label>          <label style="font-size: 18px;">{{selectedAgency.streetAddress}} {{selectedAgency.streetNumber}}</label> <br/>
    <label class="fullAgencyDetailsAndRequest">Grad: </label>            <label style="font-size: 18px;">{{selectedAgency.city}}</label> <br/>
    <label class="fullAgencyDetailsAndRequest">Država: </label>           <label style="font-size: 18px;">{{selectedAgency.state}}</label> <br/>
    <label class="fullAgencyDetailsAndRequest">Broj telefona: </label>   <label style="font-size: 18px;">{{selectedAgency.phoneNumber}}</label> <br/>
    <label class="fullAgencyDetailsAndRequest">E-mail adresa: </label>   <label style="font-size: 18px;">{{selectedAgency.email}}</label> <br/>
    <label class="fullAgencyDetailsAndRequest">Opis: </label>            <label style="font-size: 18px;">{{selectedAgency.description}}</label> <br/>
</div>

<br/> 

<button class="btn btn-primary" (click)="returnToAllAgenciesPage()">Povratak na stranicu sa agencijama</button>

<hr width="30%" />

<br/>


<div *ngIf="loggedUser">

    <h3>Zatraži saradnju</h3> <br />
    
    <!-- klasa za border je class="border border-primary p-4" ali nemoj da koristis jer jako cudno izgleda a ne umem da ispravim -->
    <form #makeRequestForm="ngForm" (ngSubmit)="makeRequest(makeRequestForm)">
        <fieldset>

            <div class="form-group">
                <label class="form-label mt-4">Odaberite objekat za uredjivanje:</label> <br />
                <label>Objekti dati kao: <i>tip, adresa, broj prostorija, kvadratura</i></label> <br />
                <div class="col-md-4">
                    <select name="dropDownSelectedRealEstate" class="form-select" [(ngModel)]="selectedRealEstate" #dropDownSelectedRealEstate="ngModel" (change)="getRealEstateId()" required>
                        <option *ngFor="let realEstateIterator of stringList" [value]="realEstateIterator">{{realEstateIterator}}</option>
                    </select>
                </div>
                
                <div *ngIf="makeRequestForm.submitted">
                    <div *ngIf="dropDownSelectedRealEstate.errors?.['required']" class="validatorMessage">Morate odabrati objekat!</div>
                </div>
            </div>
    
            <div class="form-group">
                <br/><label class="form-label mt-4">Vremenski period izvršavanja zahteva:</label> <br/>
                <label class="form-label mt-4">Datum početka:</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" name="inputStartDate" [(ngModel)]="inputStartDate" #startingDate="ngModel" required>
                </div>
                
                <div *ngIf="makeRequestForm.submitted && startingDate.invalid">
                    <div *ngIf="startingDate.errors?.['required']" class="validatorMessage">Morate odabrati datum pocetka!</div>
                </div>
            </div>
    
            <div class="form-group">
                <label class="form-label mt-4">Datum završetka:</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" name="inputEndDate" [(ngModel)]="inputEndDate" #endingDate="ngModel" required>
                </div>
                
                <div *ngIf="makeRequestForm.submitted && endingDate.invalid">
                    <div *ngIf="endingDate.errors?.['required']" class="validatorMessage">Morate odabrati datum zavrsetka!</div>
                </div>
            </div>
            
            <p class="validatorMessage">{{error}}</p>
        
            <button class="btn btn-primary" type="submit">Podnesi zahtev</button>
        </fieldset>
    </form>
    
    <hr width="30%" />
    
    <br />
</div>


<h3>Ocene i komentari</h3> <br />

 <div *ngIf="noReviews">
    Za ovu agenciju nema ocena i komentara!
 </div>

 <div *ngIf="!noReviews">
    <div *ngFor="let reviewIterator of allReviews | keyvalue">
        <label class="boldedText">Klijent:</label>
        {{ displayClientName(reviewIterator.key) }} <br />
    
        <label class="boldedText">Ocena:</label>
        {{reviewIterator.value.rating}}<br />
    
        <label class="boldedText">Komentar:</label> <br />
        <p>{{reviewIterator.value.comment}}</p>
        <hr width="20%" />
     </div>
 </div>
