

<h1 class="text-center">Profil korisnika {{loggedUser.username}}</h1>

<br />
<div class="text-center">
    <img [src]="getImageUrl()">
</div>

<br /><br />

<div class="row">
    <div class="col-md-8 mx-auto">
        <form class="border border-primary p-4">
            <fieldset>
        
                <h3>Podaci</h3>
        
                <div *ngIf="loggedUser.type == 'client' ">
        
                    <div class="form-group">
                        <label class="form-label mt-4">Ime</label>
                        <input type="text" class="form-control" name="firstname" [(ngModel)]="firstname">
                    </div>
        
                    <div class="form-group">
                        <label class="form-label mt-4">Prezime</label>
                        <input type="text" class="form-control" name="lastname" [(ngModel)]="lastname">
                    </div>
        
                    <div class="form-group">
                        <label class="form-label mt-4">E-mail</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="email">
                    </div>
        
                    <div class="form-group">
                        <label class="form-label mt-4">Kontakt telefon</label>
                        <input type="text" class="form-control" name="phone" [(ngModel)]="phoneNumber">
                    </div>
        
                </div>
        
                <div *ngIf="loggedUser.type == 'admin' ">

                    <div class="form-group">
                        <label class="form-label mt-4">Ime</label>
                        <input type="text" class="form-control" name="firstname" [(ngModel)]="firstname">
                    </div>
        
                    <div class="form-group">
                        <label class="form-label mt-4">Prezime</label>
                        <input type="text" class="form-control" name="lastname" [(ngModel)]="lastname">
                    </div>
        
                    <div class="form-group">
                        <label class="form-label mt-4">E-mail</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="email">
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-4">Kontakt telefon</label>
                        <input type="text" class="form-control" name="phone" [(ngModel)]="phoneNumber">
                    </div>

                </div>
        
                <div *ngIf="loggedUser.type == 'agency' ">

                    <div class="form-group">
                        <label class="form-label mt-4">Naziv agencije</label>
                        <input type="text" class="form-control" name="agencyName" [(ngModel)]="agencyName">
                    </div>

                    <div class="form-group">
                        <label  class="form-label mt-4">Ulica</label>
                        <input type="text" class="form-control" name="streetAddress" [(ngModel)]="streetAddress">
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-4">Broj</label>
                        <input type="text" class="form-control" name="streetNumber" [(ngModel)]="streetNumber">
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-4">Kratak opis</label>
                        <textarea name="description" class="form-control" [(ngModel)]="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-4">E-mail</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="email">
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-4">Kontakt telefon</label>
                        <input type="text" class="form-control" name="phone" [(ngModel)]="phoneNumber">
                    </div>

                </div>
        
            </fieldset>
            
            <br />
            <button class="btn btn-primary" (click)="updateData()">Ažuriraj podatke</button>
        </form>
    </div>
</div>


<br/><br/><br/><br/>

<div class="row">
    <div class="col-md-8 mx-auto">
        <form class="border border-primary p-4" #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)" enctype="application/x-www-form-urlencoded">
            <h3>Promeni lozinku</h3>
            <br/>
        
            <div class="form-group">
                <label class="form-label mt-4">Stara lozinka</label>
                <input type="password" class="form-control" name="oldPassword" [(ngModel)]="oldPassword" #oldPasswordInput="ngModel" required >
                <div *ngIf="changePasswordForm.submitted && oldPasswordInput.invalid && (oldPasswordInput.dirty || oldPasswordInput.touched)" class="validatorMessage">
                    <div *ngIf="oldPasswordInput.errors?.['required']">Morate uneti staru lozinku!</div>
                </div>
                <div *ngIf="changePasswordForm.submitted && (oldPassword != loggedUser.password) && (oldPassword != '')" class="validatorMessage">Pogrešno uneta stara lozinka!</div>
            </div>
        
            <div class="form-group">
                <label class="form-label mt-4">Nova lozinka</label>
                <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword" #newPasswordInput="ngModel"
                pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+={}[\]:;'\x22\\|,.<>/?])[a-zA-Z\d!@#$%^&*()_+={}[\]:;'\x22\\|,.<>/?]{6,12}$" required >
                <!-- \x22 je heksadecimalni zapis za " znake navoda -->
                <div *ngIf="changePasswordForm.submitted && newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)" class="validatorMessage">
                    <div *ngIf="newPasswordInput.errors?.['required']">Morate uneti novu lozinku!</div>
                    <div *ngIf="newPasswordInput.errors?.['pattern']">Lozinka mora da sadrži najmanje 6, a najviše 12 karaktera, bar jedno veliko slovo, jedan broj i jedan specijalni karakter, i mora početi velikim slovom.</div>
                  </div>
            </div>
        
            <div class="form-group">
                <label class="form-label mt-4">Nova lozinka (još jednom)</label>
                <input type="password" class="form-control" name="againNewPassword" [(ngModel)]="againNewPassword" #againNewPasswordInput="ngModel" required>
                <div *ngIf="changePasswordForm.submitted && againNewPasswordInput.invalid && (againNewPasswordInput.dirty || againNewPasswordInput.touched)" class="validatorMessage">
                    <div *ngIf="againNewPasswordInput.errors?.['required']">Morate ponovo uneti lozinku!</div>
                </div>
                <div *ngIf="changePasswordForm.submitted && newPassword != againNewPassword" class="validatorMessage">Lozinke se ne poklapaju!</div>
            </div>
        
            <br /><button class="btn btn-primary" type="submit">Promeni lozinku</button>
        </form>
    </div>
</div>
