

.simpleAgencyDetailsClass{
    border: 1px solid black;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    width: 100%;      /* take full width of outer div */
}

.boldedParag{
    font-weight: bold;
}

.imageDimensions{
    width: 150px;
    height: 100px;
}

.innerDiv{
    display: inline-block;              /* so that other elements can float next to it */
    width: 50%;                         /* 50% of outer, containing div */
    box-sizing: border-box;             /* alters box behavior, changing dimensions doesn't alter overall size of element */
}