<h2 class="text-center">Svi poslovi</h2>

<br/>

<!-- Sadrzaj koji se prikazuje za klijenta -->
<div *ngIf="loggedUser">
    <form>
        <fieldset>

            <div class="form-group">
                <label class="form-label mt-4">Prikaži samo:</label>
                <div class="col-md-4">
                    <select name="selectedFilterFromList" class="form-select" [(ngModel)]="selectedFilter" #selectedFilterFromList="ngModel" (change)="filterBusiness()" >
                        <option *ngFor="let sortValueIterator of sortBy" [value]="sortValueIterator">{{sortValueIterator}}</option>
                    </select>
                </div>

                <button class="btn btn-primary" (click)="ngOnInit()">Resetuj</button>
            </div>
            
            
        </fieldset>
    </form>
    <hr width="30%" />
    
    {{infoMessage}}
    
    
    <br />
    <div class="outerDivStyle">
        <div *ngFor = "let requestIterator of allRequests" (click)="goToRequestPage(requestIterator)">
            <app-simple-business-details [requestInstance]="requestIterator"></app-simple-business-details>
        </div>
    </div>
</div>


<!-- Sadrzaj koji se prikazuje za agenciju -->
<div *ngIf="loggedAgency">

    <h4>Zahtevi</h4>

    {{agencyNoRequestsMessage}}

    <div class="outerDivStyle">
        <div *ngFor = "let requestIterator of allRequestsAgency"> 
            <div (click)="goToAgencyRequestPage(requestIterator)">
                <app-agency-request-simple [requestInstance]="requestIterator"></app-agency-request-simple>
            </div>
            
            <div>
                <form #acceptDenyReqForm="ngForm" (ngSubmit)="acceptRequest(acceptDenyReqForm, requestIterator)">
                    
                    <div class="form-group">
                        <label>Ponuda:</label>
                        <input type="text" name="offer" class="form-control" [(ngModel)]="offerArray[requestIterator.requestId]" #offerInput="ngModel" pattern="^[1-9][0-9]*$" required>
                    </div>

                    <br />

                    <div class="form-group">
                        <button type="button" class="btn btn-danger" (click)="denyRequest(requestIterator)">Odbij zahtev</button> &nbsp;
                        <button type="submit" class="btn btn-success">Prihvati zahtev</button>
                    </div>   

                    <div *ngIf="acceptDenyReqForm.submitted && offerInput.invalid && (offerInput.dirty || offerInput.touched)" class="validatorMessage">
                        <div *ngIf="offerInput.errors?.['required']">Ponuda je obavezna pre prihvatanja zahteva!</div>
                        <div *ngIf="offerInput.errors?.['pattern']">Ponuda mora biti ceo broj i ne sme početi nulom</div>
                    </div>
                    
                </form>
            </div>  

        </div>
    </div>

    <br/> <hr width="30%" /> <br/>
    
    <h4>Aktivni poslovi</h4>

    {{agencyNoActiveJobsMessage}}

    <div class="outerDivStyle">

        <div *ngFor = "let activeJobsIterator of allActiveJobsAgency"> 
            <div (click)="goToAgencyRequestPage(activeJobsIterator)">
                <app-agency-request-simple [requestInstance]="activeJobsIterator"></app-agency-request-simple>
            </div>
        </div>

    </div>

    <br/> <hr width="30%" /> <br/>


</div>