
<h1 class="text-center">Sve agencije</h1>

<br/> <br/>

<h4>Pretrazi agenciju</h4>
<form>
    <label>Pretrazujem po:</label> <br/>
    <input id="nazivPretraga" type="checkbox" name="searchByName" [(ngModel)]="searchByName"><label for="nazivPretraga">nazivu</label> <br/>
    <input id="adresaPretraga" type="checkbox" name="searchByAddress" [(ngModel)]="searchByAddress"><label for="adresaPretraga">adresi</label> <br/>

    <div *ngIf="searchByName">
        <input placeholder="Naziv agencije" name="searchParamName" [(ngModel)]="searchParamName">
    </div>

    <div *ngIf="searchByAddress">
        <input name="searchParamStreet" placeholder="Naziv ulice" [(ngModel)]="searchParamStreet"> <br/>
        <input name="searchParamStreetNumber" placeholder="Broj ulice" [(ngModel)]="searchParamStreetNumber">
    </div>


    <br/>
    <button type="submit" (click)="searchForAgencies()">Pretrazi</button>
  </form>

<p style="color: red">{{error}}</p>

<hr width="30%" />


<br/><br/>
<h5>Za više informacija o agenciji, kao i za podnošenje zahteva, kliknite na agenciju.</h5>


<br/>
<label>Sortiraj agencije po:</label>
<select name="dropDownSelectedValue" [(ngModel)]="dropDownSelectedValue" (change)="sortAgencies()">
    <option *ngFor="let valueIterator of dropDownListValues" [value]="valueIterator">{{valueIterator}}</option>
</select>
<br/>

<br/>

<div *ngIf="!allAgencies || allAgencies.length == 0">
    Nema agencija u sistemu!
</div>

<div *ngIf="allAgencies && allAgencies.length > 0">
    <div class="outerDivStyle">
        <div *ngFor = "let agenciesIterator of allAgencies" (click)="goToAgencyPage(agenciesIterator)">
            <app-simple-agency-details [agencyInstance]="agenciesIterator"></app-simple-agency-details>
        </div>
    </div>
</div>