

<h2 class="text-center">Svi objekti klijenta</h2>

<br/><br/>


<div *ngIf="!allClientRealEstates || allClientRealEstates.length == 0">
    Klijent trenutno nema objekata!
</div>

<div *ngIf="allClientRealEstates && allClientRealEstates.length > 0">
    <div class="outerDivStyle">
        <div *ngFor = "let realEstateIterator of allClientRealEstates" (click)="goToRealEstatePage(realEstateIterator)">
            <app-simple-real-estate-details [realEstateInstance]="realEstateIterator"></app-simple-real-estate-details>
        </div>
    </div>
    
    <!--
        Prvobitno ovako, kroz tabelu
        
        <table>
        <tr>
            <th>Tip</th>
            <th>Adresa</th>
            <th>Broj prostorija</th>
            <th>Kvadratura</th>
        </tr>

        <tr *ngFor = "let realEstateIterator of allClientRealEstates">
            <td>{{realEstateIterator.type}}</td>
            <td>{{realEstateIterator.address}}</td>
            <td>{{realEstateIterator.numberOfRooms}}</td>
            <td>{{realEstateIterator.squareFootage}}</td>
        </tr>
    </table> -->

</div>
<hr/>


<br/>

<h3 class="text-center">Dodaj novi objekat</h3> <br/>

<div class="row">
    <div class="col-md-8 mx-auto">
        <form class="border border-primary p-4" #insertRealEstateForm="ngForm" (ngSubmit)="insertRealEstate(insertRealEstateForm)" enctype="application/x-www-form-urlencoded">
            
            <h5>Unesite informacije o objektu</h5>
        
            <div class="form-group">
                <label class="form-label mt-4">Tip objekta</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radioStan" name="realEstateTypeRadio" value="stan" [(ngModel)]="realEstateType" #typeInput="ngModel" required><label for="radioStan">Stan</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radioKuca" name="realEstateTypeRadio" value="kuca" [(ngModel)]="realEstateType" #typeInput="ngModel" required><label for="radioKuca">Kuća</label>
                </div>

                <div *ngIf="usingDefaultSchema && insertRealEstateForm.submitted && typeInput.invalid" class="validatorMessage">
                    <div *ngIf="usingDefaultSchema && typeInput.errors?.['required']">Morate odabrati tip objekta!</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Ulica</label> &nbsp;
                <input type="text" class="form-control" name="address" [(ngModel)]="realEstateAddress" #realEstateAddressInput="ngModel" required>
                <br/>
                <div *ngIf="insertRealEstateForm.submitted && realEstateAddressInput.invalid && (realEstateAddressInput.dirty || realEstateAddressInput.touched)" class="validatorMessage">
                    <div *ngIf="realEstateAddressInput.errors?.['required']">Morate uneti ulicu!</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Broj</label> &nbsp;
                <input type="text" class="form-control" name="streetNumber" [(ngModel)]="realEstateStreetNumber" #realEstateStreetNumberInput="ngModel" required pattern="^\d{0,4}$">
                <br/>
                <div *ngIf="insertRealEstateForm.submitted && realEstateStreetNumberInput.invalid && (realEstateStreetNumberInput.dirty || realEstateStreetNumberInput.touched)" class="validatorMessage">
                    <div *ngIf="realEstateStreetNumberInput.errors?.['required']">Morate uneti broj ulice!</div>
                    <div *ngIf="realEstateStreetNumberInput.errors?.['pattern']">Morate uneti cifru! Broj ulice moze biti najvise do 4 cifre!</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Broj prostorija</label> &nbsp;
                <input type="text" class="form-control" name="numberOfRooms" [(ngModel)]="numberOfRooms" #numberOfRoomsInput="ngModel" required disabled="true">
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Kvadratura</label> &nbsp;
                <input type="text" class="form-control" name="squareFootage" [(ngModel)]="squareFootage" #squareFootageInput="ngModel" required pattern="^(?!0)\d+(\.\d+)?$">
                <div *ngIf="insertRealEstateForm.submitted && squareFootageInput.invalid && (squareFootageInput.dirty || squareFootageInput.touched)" class="validatorMessage">
                    <div *ngIf="squareFootageInput.errors?.['required']">Morate uneti kvadraturu!</div>
                    <div *ngIf="squareFootageInput.errors?.['pattern']">
                        <p>Kvadratura je broj! Unos mora biti veći od 0, i ne sme početi cifrom 0!</p>
                        <p>Decimalne brojeve pisati uz znak '.' i neophodno je napisati bar jednu cifru nakon znaka '.'</p>
                    </div>
                </div>
            </div>

            <br /><br />
            <div class="form-group">
                 <!-- Objekat se unosi preko JSON fajla. Inicijalno je ucitan default objekat. Ako klijent ucita svoj, onda se koristi njegov JSON fajl, inace se ucitava defaultni -->
                <label class="form-label mt-4">Skica objekta</label> <br/>
                <label class="form-label mt-2">Ukoliko ne unesete ništa, koristite podrazumevanu skicu datu ispod. Ako želite da koristite vašu skicu, unesite je preko dugmeta za unos skice.</label> <br/>
                <input type="file" class="form-control" name="realEstateSchema" (change)="selectedSchema($event)">
            </div>

            <div class="form-group text-center">
                <canvas #realEstateCanvas class="canvas-styling" width="500" height="400"></canvas>
            </div>
    
            <button class="btn btn-primary" type="submit">Dodaj objekat</button>
        
        </form>
    </div>
</div>
