
.canvas-styling{
    margin: 50px;
    display: inline-block;
    position: relative;
    border: 1px solid black;
}


.validatorMessage{
    color: red;
}

.outerDivStyle{
    display: inline-block;  /* Behave as an inline-level block element; adjust width based on the widest inner div */
}