

<h2>Svi objekti klijenta:</h2>
<!-- Ovde dodaj prikaz komponente, za sve objekte klijenta, gde ce komponenta znati kako da se prikaze jedan element, i da komponenta bude clickable -->
<div *ngIf="!allClientRealEstates || allClientRealEstates.length == 0">
    Klijent trenutno nema objekata!
</div>

<div *ngIf="allClientRealEstates && allClientRealEstates.length > 0">
    <div class="outerDivStyle">
        <div *ngFor = "let realEstateIterator of allClientRealEstates" (click)="test123()">
            <app-simple-real-estate-details [realEstateInstance]="realEstateIterator"></app-simple-real-estate-details>
        </div>
    </div>
    
    
    
    <!-- <table>
        <tr>
            <th>Tip</th>
            <th>Adresa</th>
            <th>Broj prostorija</th>
            <th>Kvadratura</th>
        </tr>

        <tr *ngFor = "let realEstateIterator of allClientRealEstates">
            <td>{{realEstateIterator.type}}</td>
            <td>{{realEstateIterator.address}}</td>
            <td>{{realEstateIterator.numberOfRooms}}</td>
            <td>{{realEstateIterator.squareFootage}}</td>
        </tr>
    </table> -->
</div>
<hr/>


<br/><br/><br/>

<h3>Dodaj novi objekat:</h3> <br/>

<form #insertRealEstateForm="ngForm" (ngSubmit)="insertRealEstate(insertRealEstateForm)" enctype="application/x-www-form-urlencoded">
    <h5>Unesite informacije o objektu</h5> <br/>

    <label>Tip objekta</label><br/>
    <input type="radio" id="radioStan" name="realEstateTypeRadio" value="stan" [(ngModel)]="realEstateType" #typeInput="ngModel" required><label for="radioStan">Stan</label>
    <br/>
    <input type="radio" id="radioKuca" name="realEstateTypeRadio" value="kuca" [(ngModel)]="realEstateType" #typeInput="ngModel" required><label for="radioKuca">Kuća</label>
    <br/>
    <div *ngIf="usingDefaultSchema && insertRealEstateForm.submitted && typeInput.invalid" class="validatorMessage">
        <div *ngIf="usingDefaultSchema && typeInput.errors?.['required']">Morate odabrati tip objekta!</div>
    </div>


    <label>Ulica</label> &nbsp;
    <input type="text" name="address" [(ngModel)]="realEstateAddress" #realEstateAddressInput="ngModel" required>
    <br/>
    <div *ngIf="insertRealEstateForm.submitted && realEstateAddressInput.invalid && (realEstateAddressInput.dirty || realEstateAddressInput.touched)" class="validatorMessage">
        <div *ngIf="realEstateAddressInput.errors?.['required']">Morate uneti ulicu!</div>
    </div>


    <label>Broj</label> &nbsp;
    <input type="text" name="streetNumber" [(ngModel)]="realEstateStreetNumber" #realEstateStreetNumberInput="ngModel" required pattern="^\d{0,4}$">
    <br/>
    <div *ngIf="insertRealEstateForm.submitted && realEstateStreetNumberInput.invalid && (realEstateStreetNumberInput.dirty || realEstateStreetNumberInput.touched)" class="validatorMessage">
        <div *ngIf="realEstateStreetNumberInput.errors?.['required']">Morate uneti broj ulice!</div>
        <div *ngIf="realEstateStreetNumberInput.errors?.['pattern']">Morate uneti cifru! Broj ulice moze biti najvise do 4 cifre!</div>
    </div>


    <label>Broj prostorija</label> &nbsp;
    <input type="text" name="numberOfRooms" [(ngModel)]="numberOfRooms" #numberOfRoomsInput="ngModel" required disabled="true">
    <br/>
 

    <label>Kvadratura</label> &nbsp;
    <input type="text" name="squareFootage" [(ngModel)]="squareFootage" #squareFootageInput="ngModel" required pattern="^(?!0)\d+(\.\d+)?$">
    <div *ngIf="insertRealEstateForm.submitted && squareFootageInput.invalid && (squareFootageInput.dirty || squareFootageInput.touched)" class="validatorMessage">
        <div *ngIf="squareFootageInput.errors?.['required']">Morate uneti kvadraturu!</div>
        <div *ngIf="squareFootageInput.errors?.['pattern']">
            <p>Kvadratura je broj! Unos mora biti veći od 0, i ne sme početi cifrom 0!</p>
            <p>Decimalne brojeve pisati uz znak '.' i neophodno je napisati bar jednu cifru nakon znaka '.'</p>
        </div>
    </div>
    <br/> <br/>

    
    <label>Skica objekta</label> <br/>
    <label>Ukoliko ne unesete ništa, koristite podrazumevanu skicu datu ispod. Ako želite da koristite vašu skicu, unesite je preko dugmeta za unos skice.</label> <br/>
    <input type="file" name="realEstateSchema" (change)="selectedSchema($event)">

    <!-- Objekat se unosi preko JSON fajla. Inicijalno je ucitan default objekat. Ako klijent ucita svoj, onda se koristi njegov JSON fajl, inace se ucitava defaultni -->

    <canvas #realEstateCanvas class="canvas-styling" width="500" height="400"></canvas> <br/>

    <label>Unesite vašu skicu</label> <br/>

    
    <button type="submit">Dodaj objekat</button>

</form>



<br/><br/><br/>
