
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" [routerLink]="['/']">REŠENO D.O.O.</a>
              <img src="assets/logo_small.png" [routerLink]="['/']">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                  
                  <li class="nav-item">
                    <a class="nav-link" active [routerLink]="['/']">Početna
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']">Prijava</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']">Registracija</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin']">Admin panel</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/profile']">Profil</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/realEstate']">Objekti</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/allAgenciesPage']">Agencije</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Radnici</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/business']">Poslovi</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/logout']">Odjavi se</a>
                  </li>


                </ul>
              </div>
            </div>
          </nav>