<h2 class="text-center">Pregled posla</h2>

<br /><br />

<div class="text-center">

        <div class="form-group">
            <label class="boldedText ">ID posla:</label> &nbsp;
            {{selectedRequest.requestId}}
        </div>

        <div class="form-group">
            <label class="boldedText">Agencija:</label> &nbsp;
            {{agencyName}}
        </div>

        <div class="form-group">
            <label class="boldedText">Klijent:</label> &nbsp;
            {{clientFirstAndLastName}}
        </div>

        <div class="form-group">
            <label class="boldedText">ID objekta:</label> &nbsp;
            {{selectedRequest.realEstateId}}
        </div>

        <div class="form-group">
            <label class="boldedText">Datum:</label> &nbsp;
            {{requestDate}}
        </div>

        <div class="form-group">
            <label class="boldedText">Ponuda agencije:</label> &nbsp;
            {{selectedRequest.agencyOffer}}
        </div>

        <div class="form-group">
            <label class="boldedText">Status:</label> &nbsp;
            {{selectedRequest.requestStatus}}
        </div>

</div>

<div class="text-center">
    <canvas #displayRealEstateSchema class="canvas-styling" width="500" height="400"></canvas>
</div>


<br /><br />
<div class="text-center">
    <button class="btn btn-primary" (click)="returnToAdminPage()">Povratak na admin panel</button>
</div>