

<h2 class="text-center">Pregled radnika {{specificWorker.firstname}} {{specificWorker.lastname}}</h2><br />

<div class="row">
    <div class="col-md-8 mx-auto">
        <form #updateWorkerForm="ngForm" (ngSubmit)="editWorker(updateWorkerForm)">

            <fieldset>
                <div class="form-group">
                    <label class="form-label mt-4">Ime</label>
                    <input type="text" class="form-control" name="workerName" [(ngModel)]="specificWorker.firstname" disabled>
                </div>
            
                <div class="form-group">
                    <label class="form-label mt-4">Prezime</label>
                    <input type="text" class="form-control" name="workerLastname" [(ngModel)]="specificWorker.lastname" disabled>
                </div>
            
                <div class="form-group">
                    <label class="form-label mt-4">Email</label>
                    <input type="text" class="form-control" name="workerEmail" [(ngModel)]="specificWorker.email" disabled>
                </div>
            
                <div class="form-group">
                    <label class="form-label mt-4">Broj telefona</label>
                    <input type="text" class="form-control" name="workerPhoneNew" [(ngModel)]="workerPhoneNew" #updateWorkerPhoneInput="ngModel" required pattern="^\+?\d{1,14}$">
                </div>
                <div *ngIf="updateWorkerForm.submitted && updateWorkerPhoneInput.invalid && (updateWorkerPhoneInput.dirty || updateWorkerPhoneInput.touched)" class="validatorMessage">
                    <div *ngIf="updateWorkerPhoneInput.errors?.['required']">Broj telefona radnika je obavezan!</div>
                    <div *ngIf="updateWorkerPhoneInput.errors?.['pattern']">Morate uneti broj! Broj je maksimalne duzine do 15 karaktera (ukljucujuci znak '+')</div>
                </div>
            
                <div class="form-group">
                    <label class="form-label mt-4">Specijalizacija</label>
                    <input type="text" class="form-control" name="workerExpertiseNew" [(ngModel)]="workerExpertiseNew" #updateWorkerExpertiseInput="ngModel" required>
                </div>
                <div *ngIf="updateWorkerForm.submitted && updateWorkerExpertiseInput.invalid && (updateWorkerExpertiseInput.dirty || updateWorkerExpertiseInput.touched)">
                    <div *ngIf="updateWorkerExpertiseInput.errors?.['required']" class="validatorMessage">Specijalizacija radnika je obavezna!</div>
                </div>
            
                
                <br />
                <div class="text-center">
                    <button class="btn btn-warning" type="submit">Unesi izmene</button> &nbsp;
                    <button class="btn btn-danger"  type="button" (click)="deleteWorker()">Obrisi radnika</button>
                </div>
                
            </fieldset>
            
        </form>
    </div>
</div>


<br /><br /><br />
<div class="text-center">
    <button class="btn btn-primary" (click)="returnToAdmin()">Povratak na pregled agencije</button>
</div>

