
<br/>
<h3>Stranica agencije  {{agency.agencyName}}</h3>
<br/><br/>


<form #updateAgencyForm="ngForm" (ngSubmit)="updateAgencyInDB(updateAgencyForm)">
    <img [src]="getAgencyImage()"><br /> <br /><br />

    <label>Naziv agencije</label><br />
    <input type="text" name="agencyName" [(ngModel)]="agencyName" #agencyNameInput="ngModel" required><br />
    <div *ngIf="updateAgencyForm.submitted && agencyNameInput.invalid && (agencyNameInput.dirty || agencyNameInput.touched)" class="validatorMessage">
        <div *ngIf="agencyNameInput.errors?.['required']">Morate uneti naziv agencije!</div>
    </div>


    <label>Ulica</label><br />
    <input type="text" name="agencyStreetName" [(ngModel)]="agencyStreetName" #agencyStreetNameInput="ngModel" required><br />
    <div *ngIf="updateAgencyForm.submitted && agencyStreetNameInput.invalid && (agencyStreetNameInput.dirty || agencyStreetNameInput.touched)" class="validatorMessage">
        <div *ngIf="agencyStreetNameInput.errors?.['required']">Morate uneti naziv ulice!</div>
    </div>


    <label>Broj</label><br />
    <input type="text" name="agencyStreetNumber" [(ngModel)]="agencyStreetNumber" #agencyStreetNumberInput="ngModel" required pattern="^\d{0,4}$"><br />
    <div *ngIf="updateAgencyForm.submitted && agencyStreetNumberInput.invalid && (agencyStreetNumberInput.dirty || agencyStreetNumberInput.touched)" class="validatorMessage">
        <div *ngIf="agencyStreetNumberInput.errors?.['required']">Morate uneti broj ulice!</div>
        <div *ngIf="agencyStreetNumberInput.errors?.['pattern']">Morate uneti cifru! Broj ulice moze biti najvise do 4 cifre!</div>
    </div>


    <label>Grad</label><br />
    <input type="text" name="agencyCity" [(ngModel)]="agencyCity" #agencyCityInput="ngModel" required><br />
    <div *ngIf="updateAgencyForm.submitted && agencyCityInput.invalid && (agencyCityInput.dirty || agencyCityInput.touched)" class="validatorMessage">
        <div *ngIf="agencyCityInput.errors?.['required']">Morate uneti grad!</div>
    </div>


    <label>Drzava</label><br />
    <input type="text" name="agencyState" [(ngModel)]="agencyState" #agencyStateInput="ngModel" required><br />
    <div *ngIf="updateAgencyForm.submitted && agencyStateInput.invalid && (agencyStateInput.dirty || agencyStateInput.touched)" class="validatorMessage">
        <div *ngIf="agencyStateInput.errors?.['required']">Morate uneti drzavu!</div>
    </div>


    <label>Opis</label><br />
    <textarea name="agencyDescription" [(ngModel)]="agencyDescription" #agencyDescriptionInput="ngModel" required></textarea><br />
    <div *ngIf="updateAgencyForm.submitted && agencyDescriptionInput.invalid && (agencyDescriptionInput.dirty || agencyDescriptionInput.touched)" class="validatorMessage">
        <div *ngIf="agencyDescriptionInput.errors?.['required']">Morate uneti opis agencije!</div>
    </div>


    <label>Broj telefona</label><br />
    <input type="text" name="agencyPhone" [(ngModel)]="agencyPhone" #agencyPhoneInput="ngModel" required pattern="^\+?\d{1,14}$"><br />
    <div *ngIf="updateAgencyForm.submitted && agencyPhoneInput.invalid && (agencyPhoneInput.dirty || agencyPhoneInput.touched)" class="validatorMessage">
        <div *ngIf="agencyPhoneInput.errors?.['required']">Morate uneti broj telefona!</div>
        <div *ngIf="agencyPhoneInput.errors?.['pattern']">Morate uneti broj! Broj je maksimalne duzine do 15 karaktera (ukljucujuci znak '+')</div>
    </div>


    <label>E-mail</label><br />
    <input type="text" name="agencyEmail" [(ngModel)]="agencyEmail" #agencyEmailInput="ngModel" required pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}"><br />
    <div *ngIf="updateAgencyForm.submitted && agencyEmailInput.invalid && (agencyEmailInput.dirty || agencyEmailInput.touched)" class="validatorMessage">
        <div *ngIf="agencyEmailInput.errors?.['required']">Morate uneti email!</div>
        <div *ngIf="agencyEmailInput.errors?.['pattern']">Email ne zadovoljava format! Uneti format nesto@nesto.domen, gde je domen duzine 2-3 karaktera.</div>
    </div>


    <br /><label>Akcija</label><br />
    <button type="submit">Azuriraj</button> &nbsp;
    <button type="button" (click)="deleteAgencyFromDB()">Obrisi</button>
</form>

<br /><hr />


<h3>Unos novog radnika</h3>
<form #insertWorkerForm="ngForm" (ngSubmit)="insertNewWorker(insertWorkerForm)">
    <label>Ime: </label> <br />
    <input type="text" name="workerName" [(ngModel)]="workerFirstname" #workerFirstnameInput="ngModel" required> <br />
    <div *ngIf="insertWorkerForm.submitted && workerFirstnameInput.invalid && (workerFirstnameInput.dirty || workerFirstnameInput.touched)">
        <div *ngIf="workerFirstnameInput.errors?.['required']" class="validatorMessage">Ime radnika je obavezno!</div>
    </div>

    <label>Prezime: </label> <br />
    <input type="text" name="workerLastname" [(ngModel)]="workerLastname" #workerLastnameInput="ngModel" required> <br />
    <div *ngIf="insertWorkerForm.submitted && workerLastnameInput.invalid && (workerLastnameInput.dirty || workerLastnameInput.touched)">
        <div *ngIf="workerLastnameInput.errors?.['required']" class="validatorMessage">Prezime radnika je obavezno!</div>
    </div>

    <label>E-mail: </label> <br />
    <input type="text" name="workerEmail" [(ngModel)]="workerEmail" #workerEmailInput="ngModel" required pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}"> <br />
    <div *ngIf="insertWorkerForm.submitted && workerEmailInput.invalid && (workerEmailInput.dirty || workerEmailInput.touched)" class="validatorMessage">
        <div *ngIf="workerEmailInput.errors?.['required']">Email radnika je obavezan!</div>
        <div *ngIf="workerEmailInput.errors?.['pattern']">Email ne zadovoljava format! Uneti format nesto@nesto.domen, gde je domen duzine 2-3 karaktera.</div>
    </div>

    <label>Broj telefona: </label> <br />
    <input type="text" name="workerPhone" [(ngModel)]="workerPhone" #workerPhoneInput="ngModel" required pattern="^\+?\d{1,14}$"> <br />
    <div *ngIf="insertWorkerForm.submitted && workerPhoneInput.invalid && (workerPhoneInput.dirty || workerPhoneInput.touched)" class="validatorMessage">
        <div *ngIf="workerPhoneInput.errors?.['required']">Broj telefona radnika je obavezan!</div>
        <div *ngIf="workerPhoneInput.errors?.['pattern']">Morate uneti broj! Broj je maksimalne duzine do 15 karaktera (ukljucujuci znak '+')</div>
    </div>

    <label>Specijalizacija:</label> <br />
    <input type="text" name="workerExpertise" [(ngModel)]="workerExpertise" #workerExpertiseInput="ngModel" required> <br /> <br />
    <div *ngIf="insertWorkerForm.submitted && workerExpertiseInput.invalid && (workerExpertiseInput.dirty || workerExpertiseInput.touched)">
        <div *ngIf="workerExpertiseInput.errors?.['required']" class="validatorMessage">Specijalizacija radnika je obavezna!</div>
    </div>

    <button type="submit">Unesi radnika</button>
</form>
<hr/> <br />




<br /><br />
<button (click)="returnToAdminPage()">Povratak na admin panel</button>
<br /><br />