<h1>Admin pocetna strana</h1> <br /> <br />

<h3>Neodobreni klijenti</h3>

<div *ngIf="!allPendingClients || allPendingClients.length == 0">
    Trenutno nema klijenata sa neodobrenim zahtevima!
</div>

<div *ngIf="allPendingClients && allPendingClients.length > 0">
    <table class="tableIsBordered">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Username</th>
            <th colspan="2">Akcija</th>
        </tr>

        <tr *ngFor = "let pendingClientIterator of allPendingClients">
            <td>{{pendingClientIterator.firstname}}</td>
            <td>{{pendingClientIterator.lastname}}</td>
            <td>{{pendingClientIterator.username}}</td>
            <td>
                <button (click)="acceptClientRegRequest(pendingClientIterator)">Prihvati</button>
            </td>
            <td>
                <button (click)="declineClientRegRequest(pendingClientIterator)">Odbij</button>
            </td>
        </tr>
    </table>
</div>
<hr/> <br />

<h3>Neodobrene agencije</h3>

<div *ngIf="!allPendingAgencies || allPendingAgencies.length == 0">
    Trenutno nema agencija sa neodobrenim zahtevima!
</div>

<div *ngIf="allPendingAgencies && allPendingAgencies.length > 0">
    <table class="tableIsBordered">
        <tr>
            <th>Naziv agencije</th>
            <th>Maticni broj</th>
            <th>E mail</th>
            <th colspan="2">Akcija</th>
        </tr>
    
        <tr *ngFor = "let pendingAgencyIterator of allPendingAgencies">
            <td>{{pendingAgencyIterator.agencyName}}</td>
            <td>{{pendingAgencyIterator.agencyId}}</td>
            <td>{{pendingAgencyIterator.email}}</td>
            <td>
                <button (click)="acceptAgencyRegRequest(pendingAgencyIterator)">Prihvati</button>
            </td>
            <td>
                <button (click)="declineAgencyRegRequest(pendingAgencyIterator)">Odbij</button>
            </td>
        </tr>
    </table>
</div>
<hr/> <br />


<h3>Svi klijenti</h3>

<table class="tableIsBordered">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Username</th>
    </tr>

    <tr *ngFor = "let clientIterator of allClients" (click)="redirectToClientDetailsPage(clientIterator)">
        <td>{{clientIterator.firstname}}</td>
        <td>{{clientIterator.lastname}}</td>
        <td>{{clientIterator.username}}</td>
    </tr>
</table>
<hr/> <br />

<h3>Sve agencije</h3>

<table class="tableIsBordered">
    <tr>
        <th>Naziv agencije</th>
        <th>Maticni broj</th>
        <th>E-mail</th>
    </tr>

    <tr *ngFor = "let agencyIterator of allAgencies" (click)="redirectToAgencyDetailsPage(agencyIterator)">
        <td>{{agencyIterator.agencyName}}</td>
        <td>{{agencyIterator.agencyId}}</td>
        <td>{{agencyIterator.email}}</td>
    </tr>
</table>
<hr/> <br />


<app-admin-doing-registration></app-admin-doing-registration>
<hr/> <br />




<br /> <br /> <br />