<h1>Admin pocetna strana</h1> <br /> <br />

<h3>Neodobreni klijenti</h3>

<div *ngIf="!allPendingClients || allPendingClients.length == 0">
    Trenutno nema klijenata sa neodobrenim zahtevima!
</div>

<div *ngIf="allPendingClients && allPendingClients.length > 0">
    <table class="tableIsBordered">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Username</th>
            <th colspan="2">Akcija</th>
        </tr>

        <tr *ngFor = "let pendingClientIterator of allPendingClients">
            <td>{{pendingClientIterator.firstname}}</td>
            <td>{{pendingClientIterator.lastname}}</td>
            <td>{{pendingClientIterator.username}}</td>
            <td>
                <button (click)="acceptClientRegRequest(pendingClientIterator)">Prihvati</button>
            </td>
            <td>
                <button (click)="declineClientRegRequest(pendingClientIterator)">Odbij</button>
            </td>
        </tr>
    </table>
</div>
<hr/> <br />

<h3>Neodobrene agencije</h3>

<div *ngIf="!allPendingAgencies || allPendingAgencies.length == 0">
    Trenutno nema agencija sa neodobrenim zahtevima!
</div>

<div *ngIf="allPendingAgencies && allPendingAgencies.length > 0">
    <table class="tableIsBordered">
        <tr>
            <th>Naziv agencije</th>
            <th>Maticni broj</th>
            <th>E mail</th>
            <th colspan="2">Akcija</th>
        </tr>
    
        <tr *ngFor = "let pendingAgencyIterator of allPendingAgencies">
            <td>{{pendingAgencyIterator.agencyName}}</td>
            <td>{{pendingAgencyIterator.agencyId}}</td>
            <td>{{pendingAgencyIterator.email}}</td>
            <td>
                <button (click)="acceptAgencyRegRequest(pendingAgencyIterator)">Prihvati</button>
            </td>
            <td>
                <button (click)="declineAgencyRegRequest(pendingAgencyIterator)">Odbij</button>
            </td>
        </tr>
    </table>
</div>
<hr/> <br />

<h3>Dodaj novog klijenta</h3>

DOPISI OVDE STA TREBA, ISTO KAO REGISTRACIJA ALI POSTO OVO RADI ADMIN ONDA MU SE ODMAH STATUS POSTAVLJA NA ACCEPTED

<hr/> <br />


<h3>Svi klijenti</h3>

<table class="tableIsBordered">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Username</th>
    </tr>

    <tr *ngFor = "let clientIterator of allClients" (click)="redirectToClientDetailsPage(clientIterator)">
        <td>{{clientIterator.firstname}}</td>
        <td>{{clientIterator.lastname}}</td>
        <td>{{clientIterator.username}}</td>
    </tr>
</table>
<hr/> <br />

<h3>Sve agencije</h3>

<table class="tableIsBordered">
    <tr>
        <th>Naziv agencije</th>
        <th>Maticni broj</th>
        <th>E-mail</th>
    </tr>

    <tr *ngFor = "let agencyIterator of allAgencies" (click)="redirectToAgencyDetailsPage(agencyIterator)">
        <td>{{agencyIterator.agencyName}}</td>
        <td>{{agencyIterator.agencyId}}</td>
        <td>{{agencyIterator.email}}</td>
    </tr>
</table>
<hr/> <br />

<h3>Unos novog radnika</h3>
<form #insertWorkerForm="ngForm" (ngSubmit)="insertNewWorker(insertWorkerForm)">
    <label>Ime: </label> <br />
    <input type="text" name="workerName" [(ngModel)]="workerFirstname" #workerFirstnameInput="ngModel" required> <br />
    <div *ngIf="insertWorkerForm.submitted && workerFirstnameInput.invalid && (workerFirstnameInput.dirty || workerFirstnameInput.touched)">
        <div *ngIf="workerFirstnameInput.errors?.['required']" class="validatorMessage">Ime radnika je obavezno!</div>
    </div>

    <label>Prezime: </label> <br />
    <input type="text" name="workerLastname" [(ngModel)]="workerLastname" #workerLastnameInput="ngModel" required> <br />
    <div *ngIf="insertWorkerForm.submitted && workerLastnameInput.invalid && (workerLastnameInput.dirty || workerLastnameInput.touched)">
        <div *ngIf="workerLastnameInput.errors?.['required']" class="validatorMessage">Prezime radnika je obavezno!</div>
    </div>

    <label>E-mail: </label> <br />
    <input type="text" name="workerEmail" [(ngModel)]="workerEmail" #workerEmailInput="ngModel" required pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}"> <br />
    <div *ngIf="insertWorkerForm.submitted && workerEmailInput.invalid && (workerEmailInput.dirty || workerEmailInput.touched)" class="validatorMessage">
        <div *ngIf="workerEmailInput.errors?.['required']">Email radnika je obavezan!</div>
        <div *ngIf="workerEmailInput.errors?.['pattern']">Email ne zadovoljava format! Uneti format nesto@nesto.domen, gde je domen duzine 2-3 karaktera.</div>
    </div>

    <label>Broj telefona: </label> <br />
    <input type="text" name="workerPhone" [(ngModel)]="workerPhone" #workerPhoneInput="ngModel" required pattern="^\+?\d{1,14}$"> <br />
    <div *ngIf="insertWorkerForm.submitted && workerPhoneInput.invalid && (workerPhoneInput.dirty || workerPhoneInput.touched)" class="validatorMessage">
        <div *ngIf="workerPhoneInput.errors?.['required']">Broj telefona radnika je obavezan!</div>
        <div *ngIf="workerPhoneInput.errors?.['pattern']">Morate uneti broj! Broj je maksimalne duzine do 15 karaktera (ukljucujuci znak '+')</div>
    </div>

    <label>Specijalizacija:</label> <br />
    <input type="text" name="workerExpertise" [(ngModel)]="workerExpertise" #workerExpertiseInput="ngModel" required> <br /> <br />
    <div *ngIf="insertWorkerForm.submitted && workerExpertiseInput.invalid && (workerExpertiseInput.dirty || workerExpertiseInput.touched)">
        <div *ngIf="workerExpertiseInput.errors?.['required']" class="validatorMessage">Specijalizacija radnika je obavezna!</div>
    </div>

    <button type="submit">Unesi radnika</button>
</form>
<hr/> <br />


<app-admin-doing-registration></app-admin-doing-registration>

<br /> <br /> <br />