<h1>Admin pocetna strana</h1>

<h3>Neodobreni klijenti:</h3>
<table>
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Username</th>
        <th>Akcija</th>
    </tr>

    <tr *ngFor = "let pendingClientIterator of allPendingClients">
        <td>{{pendingClientIterator.firstname}}</td>
        <td>{{pendingClientIterator.lastname}}</td>
        <td>{{pendingClientIterator.username}}</td>
        <td>
            <button (click)="acceptClientRegRequest(pendingClientIterator)">Prihvati</button>
        </td>
        <td>
            <button (click)="declineClientRegRequest(pendingClientIterator)">Odbij</button>
        </td>
    </tr>
</table>
<hr/>

<h3>Neodobrene agencije:</h3>
<table>
    <tr>
        <th>Naziv agencije</th>
        <th>Maticni broj</th>
        <th>E mail</th>
        <th>Akcija</th>
    </tr>

    <tr *ngFor = "let pendingAgencyIterator of allPendingAgencies">
        <td>{{pendingAgencyIterator.agencyName}}</td>
        <td>{{pendingAgencyIterator.agencyId}}</td>
        <td>{{pendingAgencyIterator.email}}</td>
        <td>
            <button (click)="acceptAgencyRegRequest(pendingAgencyIterator)">Prihvati</button>
        </td>
        <td>
            <button (click)="declineAgencyRegRequest(pendingAgencyIterator)">Odbij</button>
        </td>
    </tr>
</table>
<hr/>

<h3>Svi klijenti:(nek ti svaki klijent bude clickable, pa da ti se otvori nov prozor sa njegovim podacim kad kliknes na njega)</h3>

<table>
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Username</th>
    </tr>

    <tr *ngFor = "let clientIterator of allClients">
        <td>{{clientIterator.firstname}}</td>
        <td>{{clientIterator.lastname}}</td>
        <td>{{clientIterator.username}}</td>
    </tr>
</table>
<hr/>

<h3>Sve agencije:(isto kao za klijenta, nek ti bude clickable)</h3>

<table>
    <tr>
        <th>Naziv agencije</th>
        <th>Maticni broj</th>
        <th>E mail</th>
    </tr>

    <tr *ngFor = "let agencyIterator of allAgencies">
        <td>{{agencyIterator.agencyName}}</td>
        <td>{{agencyIterator.agencyId}}</td>
        <td>{{agencyIterator.email}}</td>
    </tr>
</table>