

<h2>Registrujte se</h2><br />

<form class="border border-primary p-4" #registerForm="ngForm" (ngSubmit)="register(registerForm)" enctype="multipart/form-data">

    <fieldset>

<!-- application/x-www-form-urlencoded  use for sending form data without file send -->
<!-- #xInput is used to display validation messages -->

        <div class="form-group">
            <label class="form-label mt-4">Korisničko ime</label> &nbsp;
            <input type="text" class="form-control" name="username" [(ngModel)]="username" #usernameInput="ngModel" required>
            <div *ngIf="registerForm.submitted && usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
                <div *ngIf="usernameInput.errors?.['required']" class="validatorMessage">Korisničko ime je obavezno!</div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label mt-4">Lozinka</label> &nbsp;
            <input type="password" class="form-control" name="password" [(ngModel)]="password" #passwordInput="ngModel"
                pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+={}[\]:;'\x22\\|,.<>/?])[a-zA-Z\d!@#$%^&*()_+={}[\]:;'\x22\\|,.<>/?]{6,12}$" required >
                <!-- \x22 je heksadecimalni zapis za " znake navoda -->
                <div *ngIf="registerForm.submitted && passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="validatorMessage">
                    <div *ngIf="passwordInput.errors?.['required']">Lozinka je obavezna!</div>
                    <div *ngIf="passwordInput.errors?.['pattern']">Lozinka mora da sadrži najmanje 6, a najviše 12 karaktera, bar jedno veliko slovo, jedan broj i jedan specijalni karakter, i mora početi velikim slovom.</div>
                </div>
        </div>

        <div class="form-group">
            <label class="form-label mt-4">Potvrdite lozinku</label>
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" #confirmPasswordInput="ngModel" required>
            <div *ngIf="registerForm.submitted && confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)" class="validatorMessage">
                <div *ngIf="confirmPasswordInput.errors?.['required']">Morate potvrditi lozinku!</div>
            </div>
            <div *ngIf="registerForm.submitted && password != confirmPassword" class="validatorMessage">Lozinke se ne poklapaju!</div>
        </div>

        <div class="form-group">
            <label class="form-label mt-4">Kontakt telefon</label> &nbsp;
            <input type="text" class="form-control" name="phone" [(ngModel)]="phoneNumber" #phoneInput="ngModel" required pattern="^\+?\d{1,14}$">
            <div *ngIf="registerForm.submitted && phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)" class="validatorMessage">
                <div *ngIf="phoneInput.errors?.['required']">Morate uneti broj telefona!</div>
                <div *ngIf="phoneInput.errors?.['pattern']">Morate uneti broj! Broj je maksimalne dužine do 15 karaktera (uključujući znak '+')</div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label mt-4">E-mail adresa</label> &nbsp;
            <input type="text" class="form-control" name="email" [(ngModel)]="email" #emailInput="ngModel" required pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}">
            <div *ngIf="registerForm.submitted && emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="validatorMessage">
                <div *ngIf="emailInput.errors?.['required']">Morate uneti email!</div>
                <div *ngIf="emailInput.errors?.['pattern']">Email ne zadovoljava format! Uneti format nesto@nesto.domen, gde je domen dužine 2-3 karaktera.</div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label mt-4">Ubaci sliku (opciono):</label>
            <input type="file" class="form-control" name="image" (change)="selectedImage($event)">
            <div *ngIf="registerForm.submitted && imageWidth < 100 || imageWidth > 300 || imageHeight < 100 || imageHeight > 300">
                <p class="validatorMessage">{{wrongImageDimensionsMessage}}</p>
            </div>
            <div *ngIf="wrongImageExtensionMessage != ''">
                <p class="validatorMessage">{{wrongImageExtensionMessage}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label mt-4">Registrujem se kao</label>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" name="userTypeRadio" value="client" [(ngModel)]="userType" #typeInput="ngModel" required>Klijent
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="userTypeRadio" value="agency" [(ngModel)]="userType" #typeInput="ngModel" required>Agencija
            </div>
            <div *ngIf="registerForm.submitted && typeInput.invalid" class="validatorMessage">
                <div *ngIf="typeInput.errors?.['required']">Morate odabrati tip korisnika!</div>
            </div>
        </div>


        <div *ngIf="userType == 'client' ">

            <div class="form-group">
                <label class="form-label mt-4">Ime</label> &nbsp;
                <input type="text" class="form-control" name="firstname" [(ngModel)]="firstname" #firstnameInput="ngModel" required>
                <div *ngIf="registerForm.submitted && firstnameInput.invalid && (firstnameInput.dirty || firstnameInput.touched)" class="validatorMessage">
                    <div *ngIf="firstnameInput.errors?.['required']">Morate uneti ime!</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Prezime</label> &nbsp;
                <input type="text" class="form-control" name="lastname" [(ngModel)]="lastname" #lastnameInput="ngModel" required>
                <div *ngIf="registerForm.submitted && lastnameInput.invalid && (lastnameInput.dirty || lastnameInput.touched)" class="validatorMessage">
                    <div *ngIf="lastnameInput.errors?.['required']">Morate uneti prezime!</div>
                </div>
            </div>

        </div>

        <div *ngIf="userType == 'agency' ">
            
            <div class="form-group">
                <label class="form-label mt-4">Naziv agencije</label> &nbsp;
                <input type="text" class="form-control" name="agencyName" [(ngModel)]="agencyName" #agencyNameInput="ngModel" required>
                <div *ngIf="registerForm.submitted && agencyNameInput.invalid && (agencyNameInput.dirty || agencyNameInput.touched)" class="validatorMessage">
                    <div *ngIf="agencyNameInput.errors?.['required']">Morate uneti naziv agencije!</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Matični broj</label> &nbsp;
                <input type="text" class="form-control" name="agencyId" [(ngModel)]="agencyId" #agencyIdInput="ngModel" required pattern="^\d{8}$">
                <div *ngIf="registerForm.submitted && agencyIdInput.invalid && (agencyIdInput.dirty || agencyIdInput.touched)" class="validatorMessage">
                    <div *ngIf="agencyIdInput.errors?.['required']">Morate uneti matični broj agencije!</div>
                    <div *ngIf="agencyIdInput.errors?.['pattern']">Matični broj je niz od tačno 8 karaktera!</div>
                </div>
            </div>
    
            <div class="form-group">
                <label class="form-label mt-4">Kratak opis</label> &nbsp;
                <textarea name="description" class="form-control" [(ngModel)]="description" #descriptionInput="ngModel" required></textarea>
                <div *ngIf="registerForm.submitted && descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)" class="validatorMessage">
                    <div *ngIf="descriptionInput.errors?.['required']">Morate uneti opis agencije!</div>
                </div>
                <br/>
            </div>
    
            <div class="form-group">
                <label class="form-label mt-4">Adresa agencije:</label> <br/>
                <label class="form-label mt-4">Ulica</label> &nbsp;
                <input type="text" class="form-control" name="address" [(ngModel)]="agencyAddress" #addressInput="ngModel" required> &nbsp;
                <div *ngIf="registerForm.submitted && addressInput.invalid && (addressInput.dirty || addressInput.touched)" class="validatorMessage">
                    <div *ngIf="addressInput.errors?.['required']">Morate uneti naziv ulice!</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Broj</label> &nbsp;
                <input type="text" class="form-control" name="streetNumber" [(ngModel)]="streetNumber" #streetNumberInput="ngModel" required pattern="^\d{0,4}$">
                <div *ngIf="registerForm.submitted && streetNumberInput.invalid && (streetNumberInput.dirty || streetNumberInput.touched)" class="validatorMessage">
                    <div *ngIf="streetNumberInput.errors?.['required']">Morate uneti broj ulice!</div>
                    <div *ngIf="streetNumberInput.errors?.['pattern']">Morate uneti cifru! Broj ulice može biti najviše do 4 cifre!</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Grad</label> &nbsp;
                <input type="text" class="form-control" name="city" [(ngModel)]="city" #cityInput="ngModel" required>
                <div *ngIf="registerForm.submitted && cityInput.invalid && (cityInput.dirty || cityInput.touched)" class="validatorMessage">
                    <div *ngIf="cityInput.errors?.['required']">Morate uneti grad!</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Država</label> &nbsp;
                <input type="text" class="form-control" name="state" [(ngModel)]="state" #stateInput="ngModel" required>
                <div *ngIf="registerForm.submitted && stateInput.invalid && (stateInput.dirty || stateInput.touched)" class="validatorMessage">
                    <div *ngIf="stateInput.errors?.['required']">Morate uneti državu!</div>
                </div>
            </div>

        </div>
        
    <br /><button type="submit" class="btn btn-success">Registruj se</button>

</fieldset>



</form>


{{message}}